@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Monsieur+La+Doulaise&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Google+Sans+Flex:opsz,wght@6..144,1..1000&family=Google+Sans:ital,opsz,wght@0,17..18,400..700;1,17..18,400..700&family=Noto+Serif:ital,wght@0,100..900;1,100..900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  overflow-x: hidden;
}

.container {
  font-family: Helvetica, sans-serif;
}

.section {
  width: 100vw;
  height: 100vh;
  padding: 0; /* Era: padding: 20px; */
  display: flex;
  align-items: stretch; /* Era: center */
  justify-content: center;
  font-size: 3rem;
  color: white;
  font-weight: bold;
 
}

.section-orange {
  background-color: #ff6b35;
}

.section-black {
  background-color: #ffffff;
}

.content {
  text-align: center;
}

.video-section {
  position: relative;
  width: 60%;
  height: 100vh;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center; 
  padding-bottom: 10vh;
  gap: 1.5rem; 
}

.header {
  width: 100%;

  z-index: 10;
  position: absolute;
  top: 0;
  left: 0;

  font-family: "Monsieur La Doulaise";
  text-shadow: 2px 2px 6px rgba(0, 0, 0, 0.6);

  padding: 15px;
  padding-left: 30px;

  margin-top: 5px;
}

.login-main {
  border: 2px rgb(0, 0, 0) solid; 
  width: 80%;
  height: 20%;

  z-index: 1000;
  
}

.main {

  margin-top: 100px;

  width: 80%;
  font-family: "Google Sans Flex";
  font-weight: 500;
  font-size: clamp(14px, 1.2vw, 20px); 
  z-index: 1000;
  position: relative; 
  margin-left: 5%; 
}

.submain {
  width: 70%;
  font-family: "Google Sans Flex";
  font-weight: 400;
  font-size: clamp(16px, 0.95vw, 17px);

  z-index: 1000;
  position: relative;
  margin-left: 5%;
  line-height: 1.5;
}

.video-background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%; /* Agora ocupa 100% do video-section */
  height: 100%;
  z-index: 1;
  object-fit: cover; /* Adicionado para melhor ajuste */
  object-position: left center;
}

.login {
  display: flex;

  width: 40%; /* Login ocupa 40% da tela */
  height: 100vh;
  
  background-color: #ffffff;
  background-image: ./assets/login.jpg;
  
  padding: 40px;
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  /* align-items: center; */
  
  /* border-left: #000000 solid 2px;  */
}

.login h2 {
  color: #000;
  font-size: 2rem;
  margin-bottom: 20px;
}